.App {
  text-align: center;
}
.Signin-icon{
  position: absolute;
  left: 18px;
  top: 83px;
  width: 24px;
  height: 24px;
}

.logo-icon {
  position: absolute;
  right: 608px;
  top: 85px;
  width: 183px;
  height: 169px;
}

.main-pic{
  position: absolute;
  left: 28px;
  top: 116px;
  width: 483px;
  height: 270.37px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.explore-button {
  position: absolute;
  right: 543px;
  top: 346px;
  height: 61px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.learn-more-button{
  position: absolute;
  right: 715px;
  top: 346px;
  height: 61px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}
.explore-button {
  background-color: #f0f0f0;
  color: #333;
  
}

.learn-more-button {
  background-color: #d9d9d9;
  color: #333;
}

.explore-button:hover {
  background-color: #e0e0e0;
}

.learn-more-button:hover {
  background-color: #c9c9c9;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
